@use "@/styles" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - $navbar-height);
  overflow: hidden;

  svg {
    filter: drop-shadow(#c6c8ca 4px 4px 2px);
  }
}

.map {
  position: relative;
}

.wholeMap {
  position: absolute;
  z-index: -1;
}

.districtMapsContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.districtMaps {
  height: 100%;
  width: 100%;
  position: relative;
}

.districtMap {
  position: absolute;
  cursor: pointer;
  &:hover {
    svg path {
      fill: $primary-blue;
    }
  }
}

.info {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div {
    display: flex;
    gap: 10px;
  }
}
