.root {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e4e4e4;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;

  svg {
    // filter: drop-shadow(4px 4px 5px #c6c8ca);
  }
}

.map {
  // height: 100%;
  // width: 100%;
  position: relative;

  border: 1px solid red;
}

.districtMap {
  position: absolute;
}
