@use "@/styles" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.backButton {
  @include button(29px, 29px, $radius: 50%);
}

.filterButton {
  @include button(
    38px,
    38px,
    $radius: 50%,
    $color: $light-black,
    $border: 1.2px solid $dark-blue
  );
}

.content {
  display: flex;
  justify-content: space-between;
}

.innerContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 35px;
}

.names {
  @extend %nanumGothicKR;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  p {
    @extend %h5;
    margin: 0;
    color: $little-darker-blue;
  }
  .title {
    @extend %h2;
    color: $light-black;
  }

  svg {
    position: absolute;
    z-index: -1;
    margin-top: -18px;
    margin-left: -25px;
  }
}

.fieldsContent {
  @extend .innerContent;
  gap: 15px;
  padding-bottom: 0;
}

.fields {
  display: flex;
  gap: 12px;
  align-items: center;
}

.img {
  flex: 1;
  padding-bottom: 35px;
  max-height: 213px;
  height: 100%;
  margin-top: -18px;
}
