@use "colors";

@mixin button(
  $height,
  $width,
  $radius: 0,
  $background: colors.$white,
  $hoverBackground: colors.$dark-blue,
  $color: colors.$dark-blue,
  $border: 2px solid colors.$dark-blue
) {
  width: $width;
  height: $height;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: $border;
  background-color: $background;

  path {
    stroke: $color;
  }

  @if $radius != 0 {
    border-radius: $radius;
  }

  &:hover {
    background-color: $hoverBackground;
    path {
      stroke: $background;
    }
  }
}
