$white: #ffffff;
$lightest-blue: #f4f6f8;
$primary-blue: #97acc1;
$dark-blue: #78899a;
$little-darker-blue: #686868;
$darker-blue: #5a6773;
$light-black: #080b0f;
$black: #000000;

:export {
  $white: $white;
  $lightest-blue: $lightest-blue;
  $primary-blue: $primary-blue;
  $dark-blue: $dark-blue;
  $little-darker-blue: $little-darker-blue;
  $darker-blue: $darker-blue;
  $light-black: $light-black;
  $black: $black;
}
