@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=IBM+Plex+Sans+KR&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap");

$text-3xs: 10px;
$text-2xs: 11px;
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 32px;
$text-4xl: 38px;
$text-5xl: 48px;
$text-6xl: 60px;
$text-7xl: 72px;
$text-8xl: 96px;
$text-9xl: 128px;

$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

// Korean font family
$nanum-gothic: "Nanum Gothic", sans-serif;
$ibm-plex-sans-KR: "IBM Plex Sans KR", sans-serif;

// English font family
$encode-sans-sc: "Encode Sans SC", sans-serif;
$inter: "Inter", sans-serif;

.h1 {
  font-size: var($text-5xl);
  font-weight: var($font-bold);
}

.h2 {
  font-size: var($text-3xl);
  font-weight: var($font-bold);
}

.h3 {
  font-size: var($text-2xl);
  font-weight: var($font-medium);
}

.h4 {
  font-size: var($text-xl);
  font-weight: var($font-semibold);
}

.h5 {
  font-size: var($text-base);
  font-weight: var($font-medium);
}

.body-1 {
  font-size: var($text-base);
  font-weight: var($font-normal);
}

.body-2 {
  font-size: var($text-xs);
  font-weight: var($font-normal);
}

.nanumGothicKR {
  font-family: var($nanum-gothic);
}

.ibmSansKR {
  font-family: var($ibm-plex-sans-KR);
}

.encodeSansEN {
  font-family: var($encode-sans-sc);
}

.interEN {
  font-family: var($inter);
}
