@use "@/styles" as *;

.container {
  height: 100vh;
  //   z-index: 5;
}

.content {
  background-color: $white;
  border: 1px solid red;

  position: absolute;
  right: 0;
  width: 100px;
  transition: all 0.3s;
}
