@use "@/styles" as *;

.content {
  background-color: $white;
  border: 2px solid $primary-blue;
  height: calc(100vh - 30px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 15px;
  width: 300px;
  transition: all 0.3s;
  z-index: 5;
}

.leftContent {
  transform: translateX(-350px);
  left: 15px;
  right: auto;
}

.rightContent {
  transform: translateX(350px);
  right: 15px;
  left: auto;
}

.openContent {
  transform: translateX(0);
}
