@use "@/styles" as *;

.container {
  position: relative;
  display: flex;
}

.searchField {
  border: 2px solid $primary-blue;
  border-radius: 6px;
  height: 40px;
  padding: 10px;
  max-width: 600px;
  width: 100%;
}

.seachFieldWithIcon {
  padding-left: 35px;
}

.startIcon {
  position: absolute;
  align-self: center;
  left: 8px;

  display: flex;
  padding: 0;
  margin: 0;
}
